<div class="bg-white">
    <nav class="flex justify-between mx-auto my-auto text-center p-2">
        <div>
            <a href="#"
                class="bg-blue-600 text-white rounded-md inline-block py-2 px-4 font-semibold text-sm shadow hover:bg-blue-700 mx-2">Resume
                / JD</a>
            <a href="#"
                class="bg-white rounded-md inline-block py-2 px-4 font-semibold text-sm shadow hover:bg-blue-700 hover:text-white mx-2">Questions</a>
            <a href="#"
                class="bg-white rounded-md inline-block py-2 px-4 font-semibold text-sm shadow hover:bg-blue-700 hover:text-white mx-2">Jobs</a>
        </div>
        <div>
            <a href="#"
                class="bg-white rounded-md inline-block py-2 px-4 font-semibold text-sm shadow hover:bg-blue-700 hover:text-white mx-2">Sign Up</a>
            <a href="#"
                class="bg-blue-600 text-white rounded-md inline-block py-2 px-4 font-semibold text-sm shadow hover:bg-blue-700 mx-2">Sign in</a>
        </div>
    </nav>
</div>